# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# starter files not used by MEUTCC
/.vscode/
/assets/expo.icon/
/assets/images/android-icon-background.png
/assets/images/android-icon-monochrome.png
/assets/images/expo-badge-white.png
/assets/images/expo-badge.png
/assets/images/expo-logo.png
/assets/images/favicon.png
/assets/images/logo-glow.png
/assets/images/react-logo.png
/assets/images/react-logo@2x.png
/assets/images/react-logo@3x.png
/assets/images/tabIcons/
/assets/images/tutorial-web.png
/scripts/
/src/components/
/src/constants/
/src/global.css
/src/hooks/
